@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
.header{
    background: #000;
    width: 100%;
    color: blue;
}

.nav{
    display: flex;
}

.logo{
    /* flex-grow: 1; */
    padding-top: 8px;
}

.logo img{
    width: 42px;
    margin-top: -10px;
}
.l{
    color: red;
    text-decoration: underline;
}

.appName{
    color: #fff;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Odibee Sans', cursive;
}

.burgerMenuBar{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}