@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.footer{
    margin-top: 20px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerName{
    font-family: 'Odibee Sans', cursive;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.l{
    color: red;
    text-decoration: underline;
}

.logo img{
    height: 20px;
    padding: 10px;
}

.right{
    flex-grow: 1;
    color: #878787;
    font-size: 12px;
}